.main_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 1rem;
    width: 90%;
    /* padding: 2rem; */
    margin: 1rem auto;
    text-align: center;
}

.main_card img {
    width: 60%;
    padding: 1rem;
}

.sub_main_add {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 2rem;

}

.btn {
    width: 70%;

}

.favorite {
    width: 25% !important;
}

.favorite img {
    width: 70px;
}

.has {
    pointer-events: none;
}