.product_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 1rem;
    width: 90%;
    /* padding: 2rem; */
    margin: 1rem auto;
    text-align: center;
}

.product_card img {
    width: 60%;
    padding: 1rem;
}

.sub_product_card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-bottom: 2rem;

}